body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}
main{

    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0 auto;
    gap: 20px;
}
a{
    display: block;
    padding: 20px;
}
